rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
     match /{path=**}/repos/{repo} {
      allow read: if true;
    }

    match /{document=**} {
      // TODO: More secure and specific rules
      allow read: if true;
      allow write: if false;
    }
  }
}
